* {
    box-sizing: border-box;
}

.input{
    margin: 2rem auto;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
    font-family: sans-serif;
    align-items: center;
}

.uberEats{
    display: block;
    margin-left: 15rem;
}

.eats{
    font-weight: 600;
    color: #3E9920;
    margin-left: -0.1rem;
}

.signup{
    font-size: 26px;
    margin-top: 3rem;
    font-weight: 400;
}

h1{
    font-weight: 400;
}

.input label {
    display: block;
    margin-bottom: 0.5rem;
}

.input input {
    font: inherit;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    padding: 0.15rem;
    margin-bottom: 0.5rem;
    height: 2.5rem;
}

.input button{
    font: inherit;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    padding: 0.15rem;
    margin-top: 1.0rem;
    height: 2.5rem;
    font-weight: bold;
    color: white;
    background-color: #3E9920;
}

.input input:focus {
    outline: none;
    border-color: #3E9920;
}
